{% load static %}
{% load content_filters %}
{% load user_filters %}


<h3 class="font-semibold text-lg mb-3 px-4">Người dùng nổi bật</h3>

<div class="flex flex-col rounded-lg border border-gray-300 p-8 my-6">
  {% for author in authors %}
    <div class="flex justify-between py-3 font-sans">
      <div class="flex">
        <a href="{% url 'users:profile' author.profile.id %}" class="flex-shrink-0"><img src="{{ author.profile.avatar.url }}" alt="Avatar" class="w-12 h-12 rounded-full"/></a>
        <div class="px-3 w-36">
          <a href="{% url 'users:profile' author.profile.id %}" class="font-medium hover:underline">{{ author }}</a>
          <p class="text-xs text-gray-500">{{ author.profile.bio|random_truncate_words:10 }}</p>
        </div>
      </div>
      <div>
        {% if not user.id == author.id %}
          {% if user|is_following:author %}
            <button id="followButton" data-url="{% url 'users:follow' %}" data-profile-id="{{ author.profile.id }}" class="w-28 px-4 py-2 text-xs font-bold rounded-lg border border-green-500 text-green-500">Đang theo dõi</button>
          {% else %}
            <button id="followButton" data-url="{% url 'users:follow' %}" data-profile-id="{{ author.profile.id }}" class="w-28 px-4 py-2 text-xs font-bold rounded-lg border border-gray-500 text-gray-500">Theo dõi</button>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<script type="module" src="{% static 'users/js/follow.js' %}"></script>
