{% load static %}

<header class="w-full h-20 z-20">
  <nav id="header" class="bg-white fixed w-full z-20 top-0">
    <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="w-full md:max-w-4xl mx-auto flex items-center justify-between mt-0 pt-1 pb-2">
      <div class="flex items-center space-x-4">
        <a class="text-green-500 no-underline hover:no-underline font-extrabold text-xl" href="/">DjangoBlog</a>

        <div class="relative flex items-center">
          <input id="txtSearch" type="text" placeholder="Tìm kiếm..." class="bg-gray-100 rounded-full px-4 py-2 w-64 focus:outline-none" />
          <button id="btnSearch" onclick="" class="absolute right-2 text-gray-600 hover:text-gray-900 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M12.9 14.32a8 8 0 111.42-1.42l4.38 4.38a1 1 0 01-1.42 1.42l-4.38-4.38zM8 14a6 6 0 100-12 6 6 0 000 12z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>

      <div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white md:bg-transparent z-20" id="nav-content">
        <ul class="list-none lg:flex justify-end items-center h-12 space-x-2">
          {% if user.is_authenticated %}

          {% else %}
            <li>
              <a class="border border-green-500 font-semibold text-green-500 py-2 px-4 rounded-lg hover:bg-green-100 transition duration-300 ease-in-out whitespace-nowrap" href="">Đăng kí</a>
            </li>
            <li>
              <a class="bg-green-500 font-semibold text-white py-2 px-4 rounded-lg hover:bg-green-600 transition duration-300 ease-in-out whitespace-nowrap" href="">Đăng nhập</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
