{% extends 'base/base.html' %}
{% load content_filters %}
{% load content_tags %}

{% block title %}
  Django Blog
{% endblock %}

{% block content %}
  <div class="flex justify-center">
    <div id="left-bar" class="w-1/5">
      {% top_categories %}
      <hr class="my-4 text-gray-300" />
      {% top_tags 10 %}
    </div>

    <div id="post-list" class="w-2/5 h-full mx-10">
      <h3 class="font-semibold text-lg mb-3 px-4">Bài viết mới nhất</h3>
      {% if page_obj.object_list %}
        {% for post in page_obj %}
          {% include 'blog/partials/post_card.html' with post=post %}
        {% endfor %}

        {% include 'blog/partials/pagination_controls.html' with page_obj=page_obj %}
      {% else %}
        <p class="text-center text-gray-500 mt-6">Không tìm thấy bài viết nào.</p>
      {% endif %}
    </div>

    <div id="right-bar" class="w-1/5">
      {% top_posts %}
      {% top_authors %}
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}
