{% extends 'base/base.html' %}
{% load static %}
{% load content_filters %}

{% block title %}
  {{ profile }}
{% endblock %}

{% block content %}
  <div class="flex justify-center m-8 w-1/2">
    <div class="w-full bg-white p-6 rounded-lg shadow-md">
      <div class="flex items-center space-x-6 mb-8">
        <img src="{{ profile.avatar.url }}" alt="Avatar" class="w-36 h-36 rounded-full" />
        <div>
          <div class="flex items-center space-x-2">
            <h2 class="text-3xl font-bold">{{ profile.user }}</h2>
          </div>

          <p class="text-gray-600 mt-2">{{ profile.bio|default:'No bio available.' }}</p>

          <div class="mt-3 flex space-x-6 text-gray-500 text-sm">
            <span>{{ profile.followers.count }} người theo dõi</span>
            <span>{{ profile.following.count }} đang theo dõi</span>
            <span>{{ profile.user.posts.count }} bài viết</span>
          </div>
          {% if not user.id == profile.user.id %}
            {% if is_following %}
              <button id="followButton" data-url="{% url 'users:follow' %}" data-profile-id="{{ profile.id }}" class="w-36 mt-4 px-4 py-2 text-xs font-bold rounded-full border border-green-500 text-green-500">Đang theo dõi</button>
            {% else %}
              <button id="followButton" data-url="{% url 'users:follow' %}" data-profile-id="{{ profile.id }}" class="w-36 mt-4 px-4 py-2 text-xs font-bold rounded-full border border-gray-500 text-gray-500">Theo dõi</button>
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div id="profile-tabs" class="text-sm font-medium text-center text-gray-500">
        <ul class="flex">
          <li class="tab-item p-4 hover:text-green-500 border-b-2 border-green-500 text-green-500">
            <a href="#">Bài viết ({{ profile.user.posts.count }})</a>
          </li>
        </ul>
      </div>

      <div class="tab-content p-4 rounded-lg" role="tabpanel">
        {% if profile.user.posts.exists %}
          <div class="flex text-sm font-medium text-center text-gray-500 my-4">
            <select name="sort" id="sort" class="border-none focus:outline-none">
              <option value="newest">Theo thời gian</option>
              <option value="popular">Theo độ phổ biến</option>
            </select>
          </div>
        {% endif %}

        <div id="userPosts" data-url="{% url 'users:posts' profile.user.id %}">
          {% include 'users/partials/posts.html' with page_obj=page_obj user_id=profile.user.id %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'users/js/tab_controller.js' %}"></script>
  <script src="{% static 'users/js/post_sort.js' %}"></script>
  <script type="module" src="{% static 'users/js/follow.js' %}"></script>
{% endblock %}
